* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
}

.container {
	min-height: calc(100vh - 136px);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "text-box";
	row-gap: 50px;
	column-gap: 50px;
}

.form {
	width: 100%;
}

.form p{
    color: black;
	font-size: 18px;
	margin-bottom: 10px;
}

footer {
	height: 80px;
	text-align: center;
	line-height: 50px;
}