<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/score.css}">
    <title>Score Board</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>
<div class="main-container container py-5 px-4">
    <h3 class="bg-success text-center mb-5 p-2" style="color: white;">Top Scores</h3>

    <table class="bg-secondary">
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
        <tr th:each="score : ${resultList}">
            <td th:text="${score.username}"></td>
            <td th:text="${score.correctAns}"></td>
        </tr>
    </table>
</div>

<div th:insert="footer.html :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
